

<h1>Listado de productos</h1>

<ul>
  {{#each products}}
    <li>
      <h2>{{this.title}}</h2>
      <p>{{this.description}}</p>
      <p>Precio: {{this.price}}</p>
      <p>Stock: {{this.stock}}</p>
      <p>Código: {{this.code}}</p>
      <p>Categoría: {{this.category}}</p>
    </li>
  {{/each}}
</ul>

<div class="pagination">
  {{#if hasPrevPage}}
    <a href="{{prevLink}}">Anterior</a>
  {{else}}
    <span>Anterior</span>
  {{/if}}

  <span>Página {{currentPage}} de {{totalPages}}</span>

  {{#if hasNextPage}}
    <a href="{{nextLink}}">Siguiente</a>
  {{else}}
    <span>Siguiente</span>
  {{/if}}
</div>